/****** monikai ******/
.json-pretty
  line-height 1.3
  color rgba(245,187,18,1)
  background #1e1e1e

  .json-key
    color rgba(211,66,46,1)

  .json-value
    color rgba(191,215,219,1)

  .json-string
    color rgba(127,214,250,1)

  .json-boolean
    color rgba(75,174,22,1)
