/****** monikai ******/
.json-pretty
  line-height 1.3
  color rgba(116,128,150,1)
  background #1e1e1e

  .json-key
    color rgba(181,83,191,1)

  .json-value
    color rgba(147,163,191,1)

  .json-string
    color rgba(251,168,86,1)

  .json-boolean
    color rgba(68,138,169,1)
