/****** monikai ******/
.json-pretty
  line-height 1.3
  color #66d9ef
  background #272822

  .json-key
    color #F92672

  .json-value
    color #A6E22E

  .json-string
    color #FD971F

  .json-boolean
    color #AC81Fe
