/****** monikai ******/
.__json-pretty__
  line-height 1.3
  color rgba(245,187,18,1)
  background #1e1e1e
  overflow auto

  .__json-key__
    color rgba(211,66,46,1)

  .__json-value__
    color rgba(191,215,219,1)

  .__json-string__
    color rgba(127,214,250,1)

  .__json-boolean__
    color rgba(75,174,22,1)

.__json-pretty-error__
  line-height 1.3
  color rgba(245,187,18,1)
  background #1e1e1e
  overflow auto