/****** monikai ******/
.__json-pretty__
  line-height 1.3
  color #66d9ef
  background #272822
  overflow auto

  .__json-key__
    color #F92672

  .__json-value__
    color #A6E22E

  .__json-string__
    color #FD971F

  .__json-boolean__
    color #AC81Fe

.__json-pretty-error__
  line-height 1.3
  color #66d9ef
  background #272822
  overflow auto